---
	
/*********************************
* 
* Define page metadata
* 
**********************************/
	export const metadata = {
		title: 'Another page'
		, description: 'example server-side rendered page (SSR)'
		, datePublished: '2023-05-08'
	}

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{metadata.title}</title>
	</head>
	<body>
		<h1>{metadata.title}</h1>
	</body>
</html>
